In [1]:
import sys

In [2]:
sys.version

'3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]'

## 파이썬 자료형

In [3]:
type('Hello')

str

In [4]:
type(3.6)

float

In [5]:
print(10*7)

70

In [6]:
print('hi, everyone')

hi, everyone

In [7]:
a = 2024
print(a)

2024

In [8]:
b = '여러분'
print(b+'안녕하세요')

여러분안녕하세요

In [9]:
c = '새해'
print(str(a) + '년에도' + c + '복 많이 받으세요!')

2024년에도새해복 많이 받으세요!

## 표준 입력

In [10]:
name = input('이름 입력 >')

이름 입력 >홍길동

In [11]:
name

'홍길동'

In [12]:
name = input('이름을 입력하세요: ')
print(name + ' 님 안녕하세요!')

이름을 입력하세요: 홍길동
홍길동 님 안녕하세요!

In [13]:
birth = input('출생 연도를 입력하세요:')
print(2022 - birth, '세이시군요!')

출생 연도를 입력하세요:2003

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [14]:
birth = input('출생 연도를 입력하세요:')
print(2022 - int(birth), '세이시군요!')

출생 연도를 입력하세요:2003
19 세이시군요!

In [15]:
name = input('이름을 입력하세요:')
birth = input('출생 연도를 입력하세요:')
age = 2022 - int(birth)
print('안녕하세요!'+ name + '님!'+ str(age) + '세이시군요!')

이름을 입력하세요:홍길동
출생 연도를 입력하세요:2003
안녕하세요!홍길동님!19세이시군요!

## 내장 함수

In [16]:
abs(-3)

3

In [17]:
bool('py')

True

## 반복문

In [18]:
for i in range(5):
    print(i * 2)

0
2
4
6
8

In [19]:
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [20]:
for i in range(1, 11, 3):
    print(i)

1
4
7
10

In [21]:
for i in [10, 20, 30]:
    print(i)

10
20
30

In [22]:
for i in (10, 20, 30):
    print(i)

10
20
30

In [23]:
for i in {10, 20, 30}:
    print(i)

10
20
30

In [24]:
for i in {10:'십', 20:'이십', 30:'삼십'}:
    print(i)

10
20
30

In [25]:
data = {10:'십', 20:'이십', 30:'삼십'}
for i in data:
    print(data[i])

십
이십
삼십

In [26]:
import random

dice = random.randint(1,6)
print(dice)

2

In [27]:
import math

print(math.sqrt(2))
print(math.sqrt(4))

1.4142135623730951
2.0

## 리스트

In [28]:
day = list('월화수목금토일')
day

['월', '화', '수', '목', '금', '토', '일']

In [29]:
day[3]

'목'

In [30]:
day[-3]

'금'

In [31]:
arr1 = [1,2,3,4,5]
print(type(arr1))

<class 'list'>

In [32]:
arr2 = ['월','화','수','목','금','토']
print(type(arr2))

<class 'list'>

In [33]:
arr3 = [1,2,3,4,5,'월','화','수','목','금','토']
print(type(arr3))

<class 'list'>

In [34]:
arr1 = [1,2,3,4,5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [35]:
arr2 = ['월','화','수','목','금','토']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7

## 슬라이싱

In [36]:
day[1:3]

['화', '수']

In [37]:
day[-4:-1]

['목', '금', '토']

In [38]:
day[1:-1]

['화', '수', '목', '금', '토']

In [39]:
day[1:6:2]

['화', '목', '토']

In [40]:
day[1:7:3]

['화', '금']

In [41]:
day[-7:-1:2]

['월', '수', '금']

In [42]:
day[:]

['월', '화', '수', '목', '금', '토', '일']

In [43]:
day[::]

['월', '화', '수', '목', '금', '토', '일']

In [44]:
day[::-1]

['일', '토', '금', '목', '수', '화', '월']

In [52]:
day[-1:-8:-2]

['일', '금', '수', '월']

## ppt

In [53]:
import random

dice = random.randint(1, 6)
print(dice)

1

In [54]:
import math

print(math.sqrt(2))
print(math.sqrt(4))

1.4142135623730951
2.0

## 반복문

In [46]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [48]:
test_score = [80,70,90,100]
for score in test_score:
    print(score)

80
70
90
100

In [49]:
test_name = ['국어', '영어', '수학','과학']
for name in test_name:
    print(name)

국어
영어
수학
과학

In [50]:
if(10>0):
    print('안녕하세요!')

안녕하세요!

In [51]:
password = input('패스워드를 입력하세요:')
if(int(password)== 12345):
    print('로그인 되었습니다')
elif(int(password) == 11111):
    print('관리자 권한입니다.')
else:
    print('로그인에 실패하였습니다.')

패스워드를 입력하세요:12345
로그인 되었습니다

In [55]:
arr1 =[1,2,3,4,5]
print(type(arr1))

<class 'list'>

In [56]:
arr2 =['월','화','수','목',"금",'토']
print(type(arr2))

<class 'list'>

In [57]:
arr3 = [1,2,3,4,5,'월','화','수','목',"금",'토']
print(type(arr3))

<class 'list'>

In [58]:
arr2 =['월','화','수','목',"금",'토']
print(arr2)

['월', '화', '수', '목', '금', '토']

In [62]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2[-1])
print(arr2[-2])
print(arr2[-3])
print(arr2[-4])
print(arr2[-5])
print(arr2[-6])

토
금
목
수
화
월

In [63]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2[0:2])
print(arr2[1:4])
print(arr2[1:])
print(arr2[:3])
print(arr2[:])

['월', '화']
['화', '수', '목']
['화', '수', '목', '금', '토']
['월', '화', '수']
['월', '화', '수', '목', '금', '토']

In [59]:
arr1 =[1,2,3,4,5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [61]:
arr2 =['월','화','수','목',"금",'토']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7